/*‹¤’Ê*/
.box-title{
    padding: 0.5em 1em;
    margin: 60px 60px 30px 60px;
    font-weight: bold;
    border: solid 3px #000000;
    background-color: lightgreen;}

.box-title h1{
    text-align: center;
    margin: 0;
    padding: 0;}

.back-btm{
    margin: 15px 15px 15px 60px;}

.back-btm button{
    font-size: 18px;}

/*1*/

.login-top{text-align: center;}

.login-top input{
    font-size: 18px;
    margin: 15px;
    width: 40%;
    background-color: darkgray;}

.pw-forget{
    text-align: center;}

.pw-forget button{
    font-size: 18px;
    margin: 15px;
    width: 40%;
    background-color: lightyellow;}

/*2*/

.registration-form{
    text-align: center;}


.registration-form input{
    font-size: 18px;
    margin: 15px;
    width: 40%;}

/*1,2,3,4,5,8*/

.login-btm,
.registration-btm,
.registration-com-btm,
.delete-btm,
.delete-com-btm
    {text-align: center;}

.login-btm button,
.registration-btm button,
.registration-com-btm button,
.delete-btm button,
.delete-com-btm button{
    font-size: 24px;
    line-height: 1.2;
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;}

/*6*/

.top-btm{text-align: center;}

.top-btm button{
    font-size: 24px;
    line-height: 2.0;
    width: 40%;
    margin: 15px 20px 20px 15px;}

/*8*/
.region-select-btm{text-align: right;}

.region-select-btm button

/*9*/

.profile-text{
    text-align: right;}


.profile-text input{
    width: 50%;
    margin: 30px 70px 30px 60px;}

/*10*/
img{width: 700px;}

figure{
    text-align: center;
    margin: 50px 20px 20px 50px;}

.send-btm{
    text-align: center;}

.send-btm button{
    font-size: 24px;
    line-height: 1.2;
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;}
